//----------------------------Banner----------------------------//
.banner{
  margin-top: 81px;
  padding-bottom: 0;
  padding-top: 0;
  .swiper-slide{
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    overflow: hidden;
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 95px;
    }
  }

  &_item1{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-1.jpg);
    .left span{
      background: $azul;
      box-shadow: 7px 0 0 #0070E4, -7px 0 0 #0070E4;
    }
  }
  &_item2{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-2.jpg);
    .left span{
      background: $naranja;
      box-shadow: 7px 0 0 #f67327, -7px 0 0 #f67327;
    }
  }
  &_item3{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-3.jpg);
    .left span{
      background: $text-fucsia;
      box-shadow: 7px 0 0 #C00B6F, -7px 0 0 #C00B6F;
    }
  }
  &_item4{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-4.jpg);
    .left span{
      background: $azul;
      box-shadow: 7px 0 0 #0070E4, -7px 0 0 #0070E4;
    }
  }
  &_item5{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-5.jpg);
    .left span{
      background: $btn;
      box-shadow: 7px 0 0 #A2C232, -7px 0 0 #A2C232;
    }
  }
  &_item6{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 30%),url(../../assets/images/header/d-6.jpg);
    .left span{
      background: $naranja;
      box-shadow: 7px 0 0 #f67327, -7px 0 0 #f67327;
    }
  }
  .left{
    font-weight: 900;
    span {
      padding: 0;
      display: inline-block;
      margin: 7px 0;
    }
  }
}

//----------------------------Banner----------------------------//
.fbanner{
  background-color: $rosado;
  padding: 30px 0;
  .row {
    align-items: center;
  }
  &_text{
    p.h2{
      font-family: Roboto;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &_imgtext{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      p.h4 {
        display: flex;
        margin-right: 38px;
        color: white;
        font-weight: 400;
        margin-bottom: 0;
        img{
          width: 100%;
          margin-right: 10px;
        }
        .img1{
          max-width: 25px;
        }
        .img2{
          max-width: 19px;
        }
      }
    }
  }
}

//----------------------------Areas----------------------------//
.areas{
  background-image: url(../../assets/images/areas/fondo-luces.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 88.5px;
  padding-bottom: 118px;
  &_tittle{
    margin-bottom: 38px;
  }
  p.h5 {
    margin-bottom: 30px;
    font-weight: 400;
  }
  p.h3{
    font-weight: 400;
    margin-top: 20px;
  }
  &_footer {
    position: sticky;
    top: 100%;
  }
  &_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    margin-top: 97px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .item{
      border-radius: 10px;
      position: relative;
      transition: all 0.3s ease;
      &:hover{
        transform: scale(1.03);
      }
      &_top{
        text-align: center;
        img{
          max-width: 70px;
          width: 100%;
          transform: translatey(-30px);
        }
      }
      p, li{
        color: $white;
      }
      p.h2{
        font-weight: 900;
        margin-bottom: 18px;
        text-align: center;
      }
      ul {
        list-style: none;
        text-align: left;
        height: auto;
        padding: 0 22px;
        li{
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
        }
     }
    }
    .inmo{
      background-color: $naranja;
    }
    .constru{
      background-color: $btn;
    }
    .deco{
      background-color: $text-fucsia;
    }
    .tecno{
      background-color: #0070DB;
    }
  }
}

//----------------------------Evento----------------------------//
.event{
  padding: 55px 0;
  background-color: $azul;
  text-align: center;
  &_circulos {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 730px;
  }
  p{
    color: $white;
    margin-bottom: 20px;
  }
  p.h5{
    margin-top: 35px;
    margin-bottom: 25px;
  }
  &_title{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 38px;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      max-width: 28px;
    }
    p.h1{
      background: none;
      display: block;
      margin-bottom: 0;
    }
  }
}

//----------------------------Actividades----------------------------//
.activity{
  background-image: url(../../assets/images/actividades/fondo-luces.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 111px;
  .subtitle {
    margin-top: 38px;
    font-weight: 400;
    margin-bottom: 42px;
  }
  .wrapper{
    justify-content: center;
    row-gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr;
  }
  .gallery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
  }
  .col{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    img{
      height: 100%;
    }
  }
  .card {
    height: 100%;
    float: left;
    min-width: 100%;
    perspective: 500px;
    border: none;
    border-radius: 0;
    background-color: #ffffff1a;
  }
  .content {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  .front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .back1, .back3, .back5, .back7, .back9{
    color: white;
    transform: rotateY( 180deg );
  }
  .back1{
    background: #0070E4;
  }
  .back3{
    background: #A2C232;
  }
  .back5{
    background: #C00B6F;
  }
  .back7{
    background: #A2C232;
  }
  .back9{
    background: #EC7327;
  }
  p.h4{
    color: $white;
    font-family:  NunitoSans;
    font-weight: 400;
    margin-bottom: 0;
    z-index: 1;
    span{
      font-weight: 900;
    }
  }
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    img {
      transition: all 0.3s ease;
    }
    &:hover{
      img {
        transform: scale(1.04);
      }
    }
  }
  .front1, .front3, .front5, .front7, .front9{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .front1{
    background-image: linear-gradient(0deg, #0070e7e0 100%, #00000000 100%),url(../../assets/images/actividades/img1.jpg);
  }
  .front3{
    background-image: linear-gradient(0deg, #adc94ae0 100%, #00000000 100%),url(../../assets/images/actividades/img3.jpg);
  }
  .front5{
    background-image: linear-gradient(0deg, #c10b6fe0 100%, #00000000 100%),url(../../assets/images/actividades/img6.jpg);
  }
  .front7{
    background-image: linear-gradient(0deg, #adc94ae0 100%, #00000000 100%),url(../../assets/images/actividades/img7.jpg);
  }
  .front9{
    background-image: linear-gradient(0deg, #ec7327e0 100%, #00000000 100%),url(../../assets/images/actividades/img5.jpg);
  }
}

//----------------------------Informacion----------------------------//
.informat{
  background-color: $rosado;
  display: flex;
  align-items: center;
  .text-header{
    margin-top: 40px;
  }
  p.h5{
    color: $white;
    font-weight: 400;
  }
  &_left{
    padding-top: 57px;
    padding-bottom: 42px;
    &_imgtext{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      p{
        margin-bottom: 0;
      }
      img{
        margin-right: 25px;
      }
      .calendar{
        max-width: 37px;
        width: 100%;
      }
      .reloj{
        max-width: 35px;
        width: 100%;
      }
      .ubicacion{
        max-width: 26px;
        width: 100%;
      }
    }
    &_line{
      width: 10%;
      margin: 25px 0;
      border: 1px solid #a2c232;
      background-color: #a2c232;
    }
  }
  .bottom{
    margin-top: 44px;
  }
  &_right{
    position: absolute;
    background-image: url(../../assets/images/antel-arena-d.jpg);
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 56%;
    height: 100%;
  }
}

//----------------------------Plano----------------------------//
.plano{
  .element{
    max-width: 60px;
    width: 100%;
  }
  p{
    color: #494949;
  }
  p.h1{
    background-color: $white;
    display: block;
    margin-bottom: 10px;
    margin-top: 12px;
  }
  &_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    &_zona{
      p{
        margin-bottom: 12px;
        display: flex;
      }
      img{
        max-width: 25px;
        width: 100%;
        margin-right: 12px;
      }
    }
  }
  &_img{
    margin-top: 10px;
    margin-bottom: 88px;
  }
  .bottom{
    text-align: center;
  }
  .zona-edificio{
    .cartel{
      opacity: 0;
    }
    &:hover{
      .cartel{
        opacity: 1;
      }
    }
  }
}

//----------------------------Comprar Entradas----------------------------//
.tickets{
  background-color: $naranja;
  padding-top: 22px;
  padding-bottom: 28px;
  text-align: center;
  .row{
    position: relative;
    z-index: 1;
  }
  .element{
    max-width: 33px;
    width: 100%;
  }
  p{
    color: $white;
  }
  .text{
    margin-top: 10px;
  }
  p.h1{
    background-color: $naranja;
    display: block;
    margin-bottom: 14px;
    margin-top: 17px;
  }
  p.h5{
    font-weight: 400;
    margin-bottom: 24px;
  }
  p.blue{
    span{
      background-color: $azul;
    display: inline;
    padding: 0 15px;
    font-family: NunitoSans;
    }

  }
  .circulos {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 730px;
    transform: rotate(180deg);
    z-index: 0;
  }
  &_line{
    border-bottom: 3px solid white;
    background-color: #EC7327;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    margin-top: 40px;
    margin-bottom: 26px;
  }
  &_form{
    margin-bottom: 46px;
    margin-top: 30px;
    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
    }
  }
  #ticketsForm {
    margin-bottom: 15px;
    width: 100%;
    .form-floating {
      margin-bottom: 10px;
      width: 100%;
      label {
        color: #494846;
      }
    }
    .btn{
      padding: 8px 60px;
    }
  }
  .form-control{
    border-radius: 10px;
    border-color: #707070;
  }
  #formSending p.strong {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      background: $white;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      margin: 0 3px;
      animation: sending 1s infinite;
      &:first-child {
        margin-left: 6px;
      }
      &:nth-child(2) {
        animation-delay: 200ms;
      }
      &:last-child {
        animation-delay: 300ms;
      }
    }
  }
}

//----------------------------Empresas----------------------------//
.business{
  text-align: center;
  p{
    color: #494949;
  }
  img{
    margin-top: 36px;
  }
}

//----------------------------Contacto----------------------------//
.contacto{
  background-image: url(../../assets/images/footer/footer-d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p{
    color: $white;
  }
  p.h1{
    display: block;
    margin-bottom: 19px;
    background: none;
    img{
      max-width: 33px;
      width: 100%;
      margin-left: 17px;
    }
  }
  p.h5{
    margin-bottom: 28px;
    font-weight: 400;
  }
  &_form{
    margin-bottom: 27px;
    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
    }
  }
  a{
    text-decoration: none;
    color: $white;
    margin-left: 45px;
    img {
      width: 100%;
      max-width: 17px;
      margin-right: 10px;
    }
  }
  #contactForm {
    margin-bottom: 15px;
    width: 100%;
    .form-floating {
      margin-bottom: 10px;
      width: 100%;
      label {
        color: #494846;
      }
    }
    .btn{
      padding: 8px 60px;
    }
  }
  .form-control{
    border-radius:10px;
    border-color: #707070;
  }
  #formSending p.strong {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      background: $white;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      margin: 0 3px;
      animation: sending 1s infinite;
      &:first-child {
        margin-left: 6px;
      }
      &:nth-child(2) {
        animation-delay: 200ms;
      }
      &:last-child {
        animation-delay: 300ms;
      }
    }
  }
}
