@media (min-width: 1440px) {
  .banner{
    .swiper-slide{
      background-position: center 30%;
    }
  }

}
@media (max-width: 1199px) {
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .banner{
    margin-top: 89px;
    .left span{
      margin: 5px 0;
    }
  }
  .fbanner{
    &_text{
      margin-bottom:18px;
    }
    .col-bottom {
      text-align: center;
    }
  }
  .areas{
    padding-top: 54px;
    padding-bottom: 75px;
    p.h5{
      font-size: 1rem;
      margin-bottom: 20px;
    }
    &_footer {
      display: none;
    }
    &_grid{
      display: block;
      margin-top: 42px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .item{
        &_top{
          text-align: left;
          position: absolute;
          top: -2px;
          img{
            max-width: 55px;
            transform: translatex(-20px);
          }
        }
        &_text{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 46px;
          padding-right: 24px;
          p.h2 {
            margin-bottom: 0;
            margin-top: 0;
            padding: 9px 0;
          }
        }
        ul {
          height: 0;
          overflow: hidden;
          &.list-active{
            height: auto;
            margin-top: 12px;
          }
          li:last-child{
            padding-bottom: 18px;
          }
        }
      }
    }
  }
  .informat{
    display: block;
    padding-bottom:0;
    padding-top: 10px;
    &_left{
      padding-bottom: 10px;
      &_line{
        width: 30%;
      }
    }
    &_right{
      position: relative;
      margin-top: 43px;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .plano{
    &_img{
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 30px;
      img{
        width: auto;
        max-width: none;
        height: 30vh;
      }
    }
    &_right{
      margin-top: 33px;
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    &_right{
      text-align: left;
      margin-top: 12px;
    }
    .swiper-slide{
      height: 540px;
    }
  }
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }
  .event{
    text-align: left;
    .title{
      margin-bottom: 24px;
      align-items: flex-start;
      img{
        padding-top: 5px;
      }
    }
  }
  .activity{
    padding-top: 56px;
    padding-bottom: 46px;
    p.h5 {
      margin-bottom: 45px;
      margin-top: 28px;
    }
    .swiper-gallery {
      width: 100%;
      img{
        width: 100%;
      }
    }
    &_gallery{
      display: flex;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .swiper-button{
    outline: none;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    font-size: 25px;
  }
  .tickets{
    p.h1{
      font-size: 24px;
      margin-bottom: 10px;
    }
    p.h5{
      font-size: 16px;
    }
    p.h4{
      font-size: 20px;
    }

  }
  .contacto{
    &_form{
      &_item{
        flex-direction: column;
      }
    }
    p.h5{
      font-size: 16px;
    }
    a{
      margin-left: 23px;
    }
  }

}
@media (max-width: 575.98px) {
  .banner{
    margin-top: 80px;
  }
  .areas{
    &_grid{
      .item ul{
        padding-right: 20px;
      }
    }
  }
}
@media (max-width: 425px) {
  .areas .item_top{
    top: -4px;
  }
}
