//----------------------------Banner----------------------------//
.banner{
  margin-top: 50px;
  padding-bottom: 0;
  p{
    color: $white;
    font-weight: 400;
  }
  .swiper-slide{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 60px;
    }
  }
  &_item1{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 100%),url(../../assets/images/header/b-deco.jpg);
    .left{
      background: $text-fucsia;
    }
  }
  &_item2{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 100%),url(../../assets/images/header/b-constru.jpg);
    .left{
      background: $btn;
    }
  }
  &_item3{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 100%),url(../../assets/images/header/b-inmo.jpg);
    .left{
      background: $naranja;
    }
  }
  &_item4{
    background-image: linear-gradient(0deg, #00000099 0%, #00000000 100%),url(../../assets/images/header/b-tecno.jpg);
    .left{
      background: $azul;
    }
  }
  &_right{
    text-align: right;
  }
  .left{
    display: inline;
    font-weight: 900;
    span {
      padding: 0 5px;
    }
  }
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $white;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  }
  .swiper-pagination-bullet{
    background-color: $white;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
  }
}

//----------------------------Banner----------------------------//
.fbanner{
  background-color: $rosado;
  padding-top: 30px;
  padding-bottom: 40px;
  .row {
    align-items: center;
  }
  &_text{
    p.h2{
      font-weight: 900;
      margin-bottom: 15px;
    }
    &_imgtext{
      display: flex;
      flex-direction: row;
      align-items: center;
      p.h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 38px;
        color: white;
        font-weight: 400;
        img{
          width: 100%;
          margin-right: 10px;
        }
        .img1{
          max-width: 25px;
        }
        .img2{
          max-width: 19px;
        }
      }
    }
  }
}

//----------------------------Banner----------------------------//
.areas{
  background-image: url(../../assets/images/areas/fondo-luces.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 88.5px;
  padding-bottom: 110px;
  .tittle{
    margin-bottom: 38px;
    p{
      font-weight: 800;
      background-color: $btn;
      display: inline;
      span{
        padding: 0 15px;
      }
    }
  }
  p.h5 {
    margin-bottom: 30px;
    font-weight: 400;
  }
  &_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    margin-top: 97px;
    .item{
      border-radius: 10px;
      position: relative;
      .footer {
        position: sticky;
        top: 100%;
      }
      .top{
        text-align: center;
        .img-top{
          max-width: 70px;
          width: 100%;
          transform: translatey(-30px);
        }
      }
      p, li{
        color: $white;
      }
      p.h2{
        font-weight: 900;
        margin-bottom: 18px;
        text-align: center;
        margin-top: 20px;
      }
      ul {
        list-style: none;
        text-align: left;
        height: auto;
        padding-right: 8px;
        li{
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
        }
     }
    }
    .item1{
      background-color: $naranja;
    }
    .item2{
      background-color: $btn;
    }
    .item3{
      background-color: $text-fucsia;
    }
    .item4{
      background-color: #0070DB;
    }
  }
}
