@media (max-width: 1199px) {
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .fbanner{
    &_text{
      margin-bottom:18px;
    }
    .col-bottom {
      text-align: center;
    }
  }
  .informacion{
    display: block;
    padding-bottom:0;
    padding-top: 40px;
    .left{
      padding-bottom: 10px;
    }
    .right{
      position: relative;
      margin-top: 43px;
      width: 100%;
      img{
        width: 100%;
      }
    }
    .line{
      width: 30%;
    }
  }
  .plano{
    .planoimg{
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
    }
    .right{
      margin-top: 33px;
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    margin-top: 30px;
    &_right{
      text-align: left;
      margin-top: 12px;
    }
    .swiper-slide{
      height: 540px;
    }
  }
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }
  .areas{
    padding-top: 54px;
    padding-bottom: 75px;
    &_footer {
      display: none;
    }
    &_grid{
      display: block;
      margin-top: 42px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .item{
        .top{
          text-align: left;
          position: absolute;
          top: -2px;
          .img-top{
            max-width: 55px;
            transform: translatex(-20px);
          }
        }
        .text{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 46px;
          padding-right: 24px;
        }
        p.h2 {
          margin-bottom: 0;
          margin-top: 0;
          padding: 9px 0;
        }
         ul {
          height: 0;
          overflow: hidden;

          &.list-active{
            height: auto;
            margin-top: 12px;
          }
        }
      }
    }
  }
  .event{
    text-align: left;
    .title{
      margin-bottom: 24px;
      align-items: flex-start;
      img{
        padding-top: 5px;
      }
    }
  }
  .actividad{
    padding-top: 56px;
    padding-bottom: 46px;
    p.h5 {
      margin-bottom: 45px;
      margin-top: 28px;
    }
    .swiper-gallery {
      width: 100%;
    }
    &_gallery{
      display: flex;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin-top: auto;
      margin-bottom: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    font-size: 25px;
  }
  .contacto{
    .form{
      .item{
        flex-direction: column;
      }
    }
    p.h5{
      font-size: 16px;
    }
    a{
      margin-left: 23px;
    }
  }

}
@media (max-width: 575.98px) {
  .banner{
    margin-top: 96.5px;
  }
}
@media (max-width: 425px) {
  .areas{
    &_grid{
      .item{
        .top{
          top: -4px;
        }
      }
    }
  }
}
