@media (min-width: 1440px) {
  .banner{
    .swiper-slide{
      background-position: center 30%;
    }
  }

}
@media (max-width: 1199px) {
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .banner{
    margin-top: 62px;
    .left span{
      margin: 5px 0;
    }
  }
  .fbanner{
    &_text{
      align-items: center;
      margin-bottom:18px;
      p.h2{
        text-align: center;
      }
      &_imgtext{
        align-items: center;
        p.h4{
          margin-right: 0;
          align-items: center;
        }
      }
    }
    .col-bottom {
      text-align: center;
    }
  }
  .areas{
    padding-top: 54px;
    padding-bottom: 75px;
    p.h5{
      font-size: 1rem;
      margin-bottom: 20px;
    }
    &_footer {
      display: none;
    }
    &_grid{
      display: block;
      margin-top: 42px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .item{
        &_top{
          text-align: left;
          position: absolute;
          top: -2px;
          img{
            max-width: 55px;
            transform: translatex(-20px);
          }
        }
        &_text{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 46px;
          padding-right: 24px;
          p.h2 {
            margin-bottom: 0;
            margin-top: 0;
            padding: 9px 0;
          }
        }
        ul {
          height: 0;
          overflow: hidden;
          &.list-active{
            height: auto;
            margin-top: 12px;
          }
          li:last-child{
            padding-bottom: 18px;
          }
        }
      }
    }
  }
  .informat{
    &_left{
      &_line{
        width: 20%;
      }
    }
    &_right{
      background-position: center;
      width: 50%;
    }
  }
  .plano{
    &_img{
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      img{
        width: auto;
        max-width: none;
        height: 50vh;
      }
    }
    &_right{
      margin-top: 33px;
      &_zona{
        img{
          margin-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    &_item1{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-1.jpg);
    }
    &_item2{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-2.jpg);
    }
    &_item3{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-3.jpg);
    }
    &_item4{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-4.jpg);
    }
    &_item5{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-5.jpg);
    }
    &_item6{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-6.jpg);
    }
    &_right{
      text-align: left;
      margin-top: 12px;
    }
    .swiper-slide{
      height: 540px;
    }
  }
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: center;
        text-align: center;
        p.h4{
          font-size: 1rem;
        }
      }
      p.h2{
        font-size: 1.25rem;
      }
    }
  }
  .event{
    text-align: left;
    .title{
      margin-bottom: 24px;
      align-items: flex-start;
      img{
        padding-top: 5px;
      }
    }
    p.h5{
      font-size: 1rem;
    }
  }
  .activity{
    padding-top: 56px;
    padding-bottom: 46px;
    p.h5 {
      margin-bottom: 45px;
      margin-top: 28px;
    }
    .swiper-gallery {
      width: 100%;
      img{
        width: 100%;
      }
    }
    &_gallery{
      display: flex;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin-top: auto;
      margin-bottom: auto;
      &_item{
        justify-content: inherit;
        &:after{
          content: none;
        }
        p.h4{
          padding: 20px 0;
        }
        .text{
          position: relative;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          &:after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0.88;
          }
        }
      }
      .img1, .img3, .img5, .img7, .img9{
        background-image: none;
      }
      .img1 .text{
        &:after{
          background-color: $azul;
        }
      }
      .img2 .text{
        &:after{
          background-color: $naranja;
        }
      }
      .img3 .text{
        &:after{
          background-color: #A2C232;
        }
      }
      .img4 .text{
        &:after{
          background-color: $naranja;
        }
      }
      .img5 .text{
        &:after{
          background-color: $text-fucsia;
        }
      }
      .img6 .text{
        &:after{
          background-color: $azul;
        }
      }
      .img7 .text{
        &:after{
          background-color: #A2C232;
        }
      }
      .img8 .text{
        &:after{
          background-color: $text-fucsia;
        }
      }
      .img9 .text{
        &:after{
          background-color: $naranja;
        }
      }
    }
  }
  .swiper-button{
    outline: none;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    font-size: 25px;
  }
  .informat{
    display: block;
    padding-bottom:0;
    padding-top: 10px;
    p.h1{
      font-size: 1.5rem;
    }
    p.h5{
      font-size: 1rem;
    }
    &_left{
      padding-bottom: 10px;
      width: 55%;
      margin-left: auto;
      margin-right: auto;
      &_line{
        width: 30%;
      }
    }
    &_right{
      position: relative;
      margin-top: 43px;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .tickets{
    p.h1{
      font-size: 24px;
      margin-bottom: 10px;
    }
    p.h5{
      font-size: 16px;
    }
    p.h4{
      font-size: 20px;
    }
    &_form{
      margin-bottom: 35px;
      &_item{
        flex-direction: column;
      }
    }
  }
  .business{
    img{
      margin-top: 15px;
    }
  }
  .contacto{
    &_form{
      &_item{
        flex-direction: column;
      }
    }
    p.h5{
      font-size: 16px;
    }
    a{
      margin-left: 23px;
    }
  }

}
@media (max-width: 575.98px) {
  .banner{
    margin-top: 55px;
  }
  .areas{
    &_grid{
      .item ul{
        padding-right: 20px;
      }
    }
  }
  .informat{
    &_left{
      width: 70%;
    }
  }
  .event{
    .container{
      padding: 0 25px;
    }
  }
}
@media (max-width: 425px) {
  .areas .item_top{
    top: -4px;
  }
  .informat{
    &_left{
      width: 92%;
    }
  }
}

@media (max-width: 320px){
  .fbanner{
    &_text{
      &_imgtext {
        p.h4:first-child{
          align-items: flex-start;
        }
      }
    }
  }
}
