@media (min-width: 1440px) {
  .banner{
    .swiper-slide{
      background-position: center 30%;
    }
  }

}
@media (max-width: 1199px) {
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        row-gap: 10px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .banner{
    margin-top: 62px;
    .left{
      line-height: 1.5;
    }
    .left span{
      margin: 5px 0;
      display: initial;
    }
  }
  .fbanner{
    &_text{
      align-items: center;
      margin-bottom:18px;
      p.h2{
        text-align: center;
      }
      &_imgtext{
        align-items: center;
        p.h4{
          margin-right: 0;
          align-items: center;
        }
      }
    }
    .col-bottom {
      text-align: center;
    }
  }
  .areas{
    padding-top: 54px;
    padding-bottom: 75px;
    p.h5{
      font-size: 1rem;
      margin-bottom: 20px;
    }
    &_footer {
      display: none;
    }
    &_grid{
      display: block;
      margin-top: 42px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .item{
        &_top{
          text-align: left;
          position: absolute;
          top: -2px;
          img{
            max-width: 55px;
            transform: translatex(-20px);
          }
        }
        &_text{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 46px;
          padding-right: 24px;
          p.h2 {
            margin-bottom: 0;
            margin-top: 0;
            padding: 9px 0;
          }
        }
        ul {
          height: 0;
          overflow: hidden;
          &.list-active{
            height: auto;
            margin-top: 12px;
          }
          li:last-child{
            padding-bottom: 18px;
          }
        }
      }
    }
  }
  .informat{
    &_left{
      &_line{
        width: 20%;
      }
    }
    &_right{
      background-position: center;
      width: 50%;
    }
  }
  .plano{
    &_img{
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      img{
        width: auto;
        max-width: none;
        height: 50vh;
      }
    }
    &_right{
      margin-top: 33px;
      &_zona{
        img{
          margin-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    &_item1{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-1.jpg);
    }
    &_item2{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-2.jpg);
    }
    &_item3{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-3.jpg);
    }
    &_item4{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-4.jpg);
    }
    &_item5{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-5.jpg);
    }
    &_item6{
      background-image: linear-gradient(0deg, #00000099 0%, #00000000 45%),url(../../assets/images/header/m-6.jpg);
    }
    &_right{
      text-align: left;
      margin-top: 12px;
    }
    .swiper-slide{
      height: 540px;
    }
  }
  .fbanner{
    &_text{
      &_imgtext {
        flex-direction: column;
        align-items: center;
        text-align: center;
        p.h4{
          font-size: 1rem;
        }
      }
      p.h2{
        font-size: 1.25rem;
      }
    }
  }
  .event{
    text-align: left;
    .title{
      margin-bottom: 24px;
      align-items: flex-start;
      img{
        padding-top: 5px;
      }
    }
    p.h5{
      font-size: 1rem;
    }
  }
  #play{
    .video_text {
      column-gap: 20px;
      img{
        max-width: 100px;
      }
    }
  }
  .activity{
    padding-top: 56px;
    padding-bottom: 46px;
    .wrapper{
      justify-content: initial;
      display: flex;
      align-items: stretch;
    }
    .gallery {
      width: 100%;
    }
    .col{
      background-image: none;
      flex-direction: column;
      margin: 0;
      width: 100%;
      flex: none;
      height: auto;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .front .text{
      padding: 22px 0;
    }
    .front1{
      background-image: none;
      background-color:#0070e7;
    }
    .front3{
      background-image: none;
      background-color: #aec94a;
    }
    .front5{
      background-image: none;
      background-color: #c10b6f;
    }
    .front7{
      background-image: none;
      background-color: #aec94a;
    }
    .front9{
      background-image: none;
      background-color: #ec7327;
    }
    .back{
      padding-top: 50px;
      padding-bottom: 39%;
      .text{
        padding-bottom: 20%;
      }
    }
    p.h5 {
      margin-bottom: 45px;
      margin-top: 28px;
    }
    .item{
      &:hover{
      transform: scale(1);
    }
    }
    .item .text{
      padding: 22px 0;
    }
    .img2{
      background-color: #EA7327;
    }
    .img4{
      background-color: #EA7327;
    }
    .img6{
      background-color: #0070E4;
    }
    .img8{
      background-color: #C00B6F;
    }
    .swiper-gallery {
      width: 100%;
    }
  }
  .swiper-button{
    outline: none;
  }
  .informat{
    display: block;
    padding-bottom:0;
    padding-top: 10px;
    p.h1{
      font-size: 1.5rem;
    }
    p.h5{
      font-size: 1rem;
    }
    &_left{
      padding-bottom: 10px;
      width: 55%;
      margin-left: auto;
      margin-right: auto;
      &_line{
        width: 30%;
      }
    }
    &_right{
      position: relative;
      margin-top: 43px;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .tickets{
    p.h1{
      font-size: 24px;
      margin-bottom: 10px;
    }
    p.h5{
      font-size: 16px;
    }
    p.h4{
      font-size: 20px;
    }
    &_form{
      margin-bottom: 35px;
      &_item{
        flex-direction: column;
      }
    }
  }
  .business{
    img{
      margin-top: 15px;
    }
  }
  .contacto{
    &_form{
      &_item{
        flex-direction: column;
      }
    }
    p.h5{
      font-size: 16px;
    }
    a{
      margin-left: 23px;
      display: inline-block;
      margin-top: 15px;
    }
  }

}
@media (max-width: 575.98px) {
  .banner{
    margin-top: 55px;
  }
  .areas{
    &_grid{
      .item ul{
        padding-right: 20px;
      }
    }
  }
  .informat{
    &_left{
      width: 70%;
    }
  }
  .event{
    .container{
      padding: 0 25px;
    }
  }
}
@media (max-width: 425px) {
  .areas .item_top{
    top: -4px;
  }
  .informat{
    &_left{
      width: 92%;
    }
  }
}

@media (max-width: 320px){
  .fbanner{
    &_text{
      &_imgtext {
        p.h4:first-child{
          align-items: flex-start;
        }
      }
    }
  }
}
