.footer{
  background-color: #494846;
  padding-top: 79px;
  padding-bottom:73px;
  img{
    width: 100%;
    margin-right: 12px;
  }
  p{
    color: $white;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color: $white;
  }
  .home{
    text-align: center;
    .logo{
      max-width: 88.82px;
    }
  }
  .organizan{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-right: 2px solid #A2C232;
    .infocasas{
      max-width: 137.35px;
    }
    .constru{
      max-width: 165px;
    }
  }
  .redes{
    padding-left: 50px;
    p{
      margin-bottom: 14px;
    }
    .img-wapp{
      max-width: 24.5px;
      margin-right: 19px;
    }
    .mail{
      max-width: 24px;
      margin-right: 16px;
    }
    .phone {
      max-width: 16px;
      margin-right: 11px;
    }
    .instagram{
      max-width: 25px;
      margin-right: 20px;
    }
    .whatsapp, .correo, .seguinos{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .whatsapp{
      margin-bottom: 25px;
      a{
        margin-right: 22px
      }
    }
    .correo, .seguinos{
      a{
        margin-right: 28px
      }
    }
    .correo a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .seguinos{
      margin-top: 35px;
      p{
        margin-bottom: 0;
        margin-right: 26px;
      }
    }
  }


}
/*----------------------------Queries-------------------------------*/
@media (min-width: 1360px) {

}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .footer{
    .home {
      width: 20%;
    }
    .organizan{
      width: 25%;
    }
    .redes {
      padding-left: 20px;
      width: 55%;
    }
  }
}

@media (max-width: 991.98px) {
  .footer{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 50px;
    .home {
      width: 100%;
    }
    .organizan {
      row-gap: 19px;
      border-right: none;
      margin-top: 39px;
      margin-bottom: 28px;
      padding: 0;
      width: 100%;
    }
    .redes{
      padding-left: initial;
      width: 100%;
      .whatsapp, .correo, .seguinos{
        flex-direction: column;
        justify-content: center;
      }
      .img-wapp, .mail, .phone {
        display: none;
      }
      .whatsapp, .correo{
        a{
          margin-right: 0;
        }
      }
      .whatsapp{
        margin-bottom: 23px;
        margin-top: 60px;
        position: relative;
        a{
          margin-bottom: 8px;
        }
        &:after {
          position: absolute;
          content: "";
          width: 110px;
          height: 2px;
          background-color: #A2C232;
          top: -40px;
        }
      }
      .correo{
        margin-top: 21px;
        a{
          margin-bottom: 15px;
        }
      }
      .seguinos{
        margin-bottom: 19px;
        margin-top: 57px;
        position: relative;
        p{
          margin-right: 0;
          margin-bottom: 18px;
        }
        &:after {
          position: absolute;
          content: "";
          width: 110px;
          height: 2px;
          background-color: #A2C232;
          top: -28px;
        }
      }

    }

  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
