.footer{
  background-color: #494846;
  padding-top: 94px;
  padding-bottom:109px;
  img{
    width: 100%;
    margin-right: 12px;
  }
  p{
    color: $white;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color: $white;
  }
  .home{
    text-align: center;
  }
  .logo{
    max-width: 88.82px;
  }
  .infocasas{
    max-width: 137.35px;
  }
  .constru{
    max-width: 165px;
  }
  .whatsapp{
    max-width: 24.5px;
  }
  .mail{
    max-width: 24px;
  }
  .instagram{
    max-width: 25px;
  }
  .organizan, .fest{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .fest{
    position: relative;
  }

  .seguinos{
    border-left: 1px solid #A2C232;
    padding-left: 40px;
  }
  .organizan{
    border-right: 1px solid #a2c232;
    padding-right: 0;
    width: 20%;
  }
  .contact{
    padding-left: 40px;
  }
}
/*----------------------------Queries-------------------------------*/
@media (min-width: 1360px) {
  .footer{
    .contact{
      width: 30%;
    }
  }
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .footer{
    .seguinos{
      padding-left: 20px;
      padding-right: 0;
    }
    .organizan{
      width: 20%;
    }
    .contact{
      padding-left: 20px;
      padding-right: 0;
      width: 29%;
    }
  }
}

@media (max-width: 991.98px) {
  .footer{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 55px;
    .organizan, .fest{
      flex-direction: column;
      row-gap: 19px;
    }
    .organizan{
      border: none;
      margin-top: 39px;
      margin-bottom: 24px;
      width: 100%;
      padding: 0;
      p{
        margin-bottom: 0;
      }
    }
    .contact{
      margin-top: 57px;
      margin-bottom: 21px;
      width: 100%;
      padding: 0;
      p{
        margin-bottom: 0;
      }
    }
    .seguinos{
      margin-top: 60px;
      border: none;
      padding: 0;
      p{
        margin-bottom: 0;
      }
    }
    .fest{
      &:after{
        content: "";
        position: absolute;
        border: 1px solid #99bd34;
        left: 0;
        right: 0;
        width: 110px;
        height: 0;
        margin-left: auto;
        margin-right: auto;
        top: -38px;


      }
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
