header{
  background-color: $white;
  border-bottom: 4px solid $lightgrey;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  img {
    max-width: 148px;
    width: 100%;
  }
  .header{
    &_mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span{
        width: 26px;
        height: 3px;
        margin: 3px 0;
        background: $naranja;
        border-radius: 2px;
      }
    }
  }
  .navbar{
    padding: 1rem 0;
    align-items: flex-end;
    .navbar-nav {
      .nav-link{
        color: $text;
      }
      .shopping{
        background-color: $naranja;
        color: $white;
        border-radius: 5px;
        font-weight: 500;
        padding: 2px 7px;
        transition: all 0.5s ease;
        &:hover, &:active, &:focus{
          transform: scale(1.03);
        }
        &:focus{
          color: $white;
        }
      }
      .shopp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0.25rem;
      }
    }
  }
}
/*----------------------------Queries-------------------------------*/

@media (min-width: 992px) {
  header{
    .navbar .navbar-nav {
      .nav-item{
        margin: 0 8px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  header{
    .navbar{
      align-items: center;
      padding: 0.5rem 0;
      &-toggler{
        color: $white !important;
        border-color: $white !important;
      }
      &-collapse {
        background-color: white;
        margin: 0;
        position: fixed;
        top: 89.8px;
        left: 0;
        width: 100%;
      }
      .navbar-nav {
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left: calc(var(--bs-gutter-x)/ 2);
        margin: auto;
        .nav-item{
          border-bottom: 1px solid $lightgrey;
          width: 100%;
          padding: 0 30px;
        }
        .shopp{
          align-items: flex-start;
          .shopping {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  header{
    .navbar{
      .navbar-nav {
        .nav-item{
          .nav-link{
            max-width: 540px;
            padding-left: 12px;
            padding-right: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  header{
    .navbar{
      &-collapse {
        top: 96.5px;
      }
      .navbar-nav .nav-item{
        padding: 0;
      }
    }
    img {
      max-width: 125px;
    }
  }
}
