:root{
  font-size: 16px;
}

body{
  opacity: 0;
  overflow-x: hidden;
}
p.h1, h1, p.h2, h2, .display-5, p.display-5{
  font-family: NunitoSans;
  color: $white;
}
p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: #494949;
}
p{
  color: $white;
}
a,p,div,input,button,textarea{
  font-family: Roboto;
}
a{
  text-decoration: none;
}
img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}
.btn{
  background-color: $btn;
  border-radius: 12px;
  border: 2px solid transparent;
  padding: 8px 30px;
  color: #1A1A1A;
  font-weight: 700;
  box-shadow: 0px 0px 9px #FFFFFF66;
}
.btn.btn-primary {
  border-color: $white;
  transition: all 0.5s ease;
}
.btn.btn-secondary {
  border-color: $btn;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus,
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus{
  background-color: $btn-hover!important;
  box-shadow: none!important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  border-color: $white!important;
  transform: scale(1.03);
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus{
  background-color: $btn-hover!important;
  color: #1A1A1A;
}
p.h1{
  font-weight: 800;
  background-color: $btn;
  display: inline;
  span{
    padding: 0;
    box-shadow: 7px 0 0 #A2C232, -7px 0 0 #A2C232;
  }
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.swiper-pagination-bullet{
  background-color: $white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
