<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 home">
        <img src="assets/icons/homefest-blanco.svg" alt="" class="logo">
      </div>
      <div class="col-lg-3 col-12 organizan">
        <p>Un evento organizado por:</p>
        <a href="https://infocasas.com.uy/" target="_blank"><img src="assets/icons/infocasas.svg" alt="" class="infocasas"></a>
        <a href="https://construdeco.com.uy/" target="_blank"><img src="assets/images/construdeco.svg" alt="" class="constru"></a>
      </div>
      <div class="col-lg-6 col-12 redes">
        <p class="d-none d-lg-block">Contacto:</p>
        <div class="whatsapp">
        <p class="d-lg-none">Contacto:</p>
          <img src="assets/icons/whatsapp.svg" alt="" class="img-wapp d-none d-lg-block">
          <a href="https://api.whatsapp.com/send?phone=59897999736&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank">+598 97 999 736</a>
          <a href="https://api.whatsapp.com/send?phone=59892752020&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank">+598 92 752 020</a>
          <a href="https://api.whatsapp.com/send?phone=+59899707000&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank">+598 99 707 000</a>
        </div>
        <div class="correo">
          <a href="#" target="_blank" class="d-lg-none"><img src="assets/images/footer/phone.svg" alt="" class="phone d-none d-lg-block">2605 5555</a>
          <a href="mailto:homefest@infocasas.com.uy" target="_blank"><img src="assets/images/footer/mail.svg" alt="" class="mail d-none d-lg-block">homefest@infocasas.com.uy</a>
          <a href="#" target="_blank" class="d-none d-lg-flex"><img src="assets/images/footer/phone.svg" alt="" class="phone d-none d-lg-block">2605 5555</a>
        </div>
        <div class="seguinos">
          <p>Seguinos:</p>
          <a href="https://www.instagram.com/homefest_uy/" target="_blank"><img src="assets/icons/instagram_red.svg" alt="" class="instagram">homefest_uy</a>
        </div>
      </div>
    </div>
  </div>
</div>
