<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 home">
        <img src="assets/icons/homefest-blanco.svg" alt="" class="logo">
      </div>
      <div class="col-lg-3 col-12 organizan">
        <p>Organizan:</p>
        <a href="https://infocasas.com.uy/" target="_blank"><img src="assets/icons/infocasas.svg" alt="" class="infocasas"></a>
        <a href="https://construdeco.com.uy/" target="_blank"><img src="assets/images/construdeco.svg" alt="" class="constru"></a>
      </div>
      <div class="col-lg-4 col-12 contact fest">
        <p>Contacto:</p>
        <a href="https://api.whatsapp.com/send?phone=59897999736&text=Hola!%20Me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20HomeFest" target="_blank"><img src="assets/icons/whatsapp.svg" alt="" class="whatsapp">+598 97 999 736</a>
        <a href="homefest@infocasas.com.uy" target="_blank"><img src="assets/images/footer/mail.svg" alt="" class="mail">homefest@infocasas.com.uy</a>
      </div>
      <div class="col-lg-2 col-12 seguinos fest">
        <p>Seguinos:</p>
        <a href="https://www.instagram.com/homefest_uy/" target="_blank"><img src="assets/icons/instagram.svg" alt="" class="instagram">homefest_uy</a>
      </div>
    </div>
  </div>
</div>
