<div class="container header">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="assets/icons/homefest-horizontal.svg" alt="HomeFest"></a>
            <button class="navbar-toggler header_mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span></span><span></span><span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link linkTo" href="/#areas">Exposición</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link linkTo" href="/#actividad">Actividades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link linkTo" href="/#contacto">Quiero exponer</a>
                </li>
                <li class="nav-item shopp">
                  <a class="nav-link linkTo shopping" href="/#contacto">Comprar entrada</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
<!--     <div id="whatsappBtn">
      <a href="https://api.whatsapp.com/send?phone=595991689879&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Firenze%20Asunci%C3%B3n" target="_blank" onclick="gtag('event', 'click', {
            'event_category': 'Contactar por whatsapp',
            'event_label': 'Contactar por whatsapp',
            'value': 1
          });">
        <button>
          <img src="assets/icons/whatsapp.png" alt="wpp" />
        </button>
        <span>Escribinos</span>
      </a>
    </div> -->
