$primary: #191920;
$secondary: #033545;
$text: #494846;
$text-secondary: #425762;
$text-hover: #191920;
$btn: #A2C232;
$btn-hover: #a2c232e0;


$white: #fff;
$black: #000;

$verde: ​​#99bd34;
$fucsia: #c80c7c;
$naranja: #f67327;
$azul2: #0070e7;
$gris-oscuro: #403f3d;
$azul: #0070E4;

$text-fucsia:  #C00B6F;
$rosado:#CE2D87;
$lightgrey:#9E9E9E;
